.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: lightgray;
    padding: 15px 0px;
    align-items: center;
    top: 0;
    
}
.menu-group {
    display: flex;
    align-items: center;
    margin-right: 28px;
}
.menu {
    color: black;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
}

.mainLogo {
    font-weight: 600;
    font-size: 20px;
}

.main{
    font-family: 'Cafe24Ssurround', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    font-weight: 300;  
}
/* 로그인 페이지 */
.page {
    position: absolute;
    width: 100%;
    top: 90px;
    bottom: 30px;
    max-width: 400px;
    padding: 20px 20px;
    background-color: rgb(238, 235, 235);
    overflow: hidden;
    left: 50%;
    flex-direction: column;
    display: flex;
    transform: translate(-50%, 0);
    border-radius: 20px;
    text-align: left;
}
.title {
    margin-top: 5vh;
    font-size: 20px;
    font-weight: 700;
}
.inputTitle {
    font-size: 13px;
    font-weight: 600;
    color: #262626;
}
.input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 12px;
    font-weight: 400;
}
.inputWrap {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 8px;
    background-color: white;
    border: 1px solid white;
}
.loginBtn {
    display: flex;
    
    
}
.btn {
    border: none;
    font-weight: 700;
    color: white;
    cursor: pointer;
    background-color: darkblue;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    font-size: 14px;
}
.signView {
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}
.signLink {
    margin-left: 6px;
    color: rgb(248, 62, 155);
    text-decoration: none;
    cursor: pointer;
}

/* 피드 페이지 */
.category {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 180px;
    top: 90px;
    bottom: 30px;
    padding: 20px;
    background-color: rgb(247, 247, 232);
    border: 1.5px solid black;
    left: 8%;
    border-radius: 13px;
    text-align: left;
}
.upload {
    display: flex;
    position: absolute;
    width: 70px;
    height: 20px;
    padding: 10px;
    background-color: beige;
    cursor: pointer;
    border-radius: 13px;
}