/* header 부분 */
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(209, 241, 252);
    padding: 15px 0px;
    align-items: center;
    top: 0;
    
}
.logo {
    margin-left: 40px;
    width: 80%;
    height: 40px;
}
.menu {
    color: black;
    font-size: 17px;
    text-decoration-line: none;
    font-weight: 550;
    margin: 0 40px;
}
.login-box {
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.login {
    color: black;
    font-weight: 500;
    font-size: 15px;
    margin-right: 16px;
    text-decoration-line: none;
}

.profile-box {
    position: relative;
    width: 90px;
    height: 45px;
    background-color: white;
    border-radius: 30px 30px;
}
.icon {
    position: absolute;
    height: 35px;
    width: 35px;
}
.profile {
    z-index: 1;
    top: 4px;
    left: 8px;
}
.bar {
    z-index: 2;
    right: 8px;
    top: 4px;
}
.main{
    font-family: 'Cafe24Ssurround', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    font-weight: 300;  
}
/* 메인 페이지_Home */
.nav{
    display: flex;
    width: 100%;
    height: 1200px;
    justify-content: center;
}
.top-wrapper{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
.nav h2{
    align-self: flex-start;
    text-align: left;
    margin-left: 58px;
}
.boxs{
    display: flex;
    justify-content: center;
    gap: 85px;
}
.feed-box{
    width: 140px;
    height: 140px;
    text-align: left;
    margin-top: 18px;
}
.feed-box p{
    font-size: 18px;
}
.thumb{
    width: 160px;
    height: 160px;
    background-color: lightgray;
}
.next-btn{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.next-btn img{
    width: 28px;
    height: 28px;
}
/* 검색창 */
.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 120px;
}
.search-bar input{
    padding: 8px 12px;
    width: 420px;
    height: 28px;
    border: 1px solid lightgray;
    border-radius: 30px 30px;
    outline: none;
    font-size: 18px;
    padding-left: 46px;
    letter-spacing: 1.5px;
}
.search-btn{
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
} 
.search-btn img{
    width: 100%;
    height: 100%;
}
/* 로그인 페이지 */
.page {
    position: absolute;
    width: 100%;
    top: 90px;
    bottom: 30px;
    max-width: 400px;
    padding: 20px 20px;
    background-color: rgb(238, 235, 235);
    overflow: hidden;
    left: 50%;
    flex-direction: column;
    display: flex;
    transform: translate(-50%, 0);
    border-radius: 20px;
    text-align: left;
}
.title {
    margin-top: 5vh;
    font-size: 25px;
    font-weight: 700;
}
.inputTitle {
    font-size: 13px;
    font-weight: 600;
    color: #262626;
}
.input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 12px;
    font-weight: 400;
}
.inputWrap {
    display: flex;
    border-radius: 8px;
    padding: 16px;
    margin-top: 8px;
    background-color: white;
    border: 1px solid white;
}
.loginBtn {
    display: flex;
}
.btn {
    border: none;
    font-weight: 700;
    color: white;
    cursor: pointer;
    background-color: darkblue;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    font-size: 14px;
}
.signView {
    font-size: 13px;
    font-weight: 400;
    text-align: center;
}
.signLink {
    margin-left: 6px;
    color: rgb(248, 62, 155);
    text-decoration: none;
    cursor: pointer;
}
.findLink {
    margin-left: 10px;
    text-decoration: none;
    cursor: pointer;
}

/* 피드 페이지 */
.category {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 180px;
    top: 90px;
    bottom: 30px;
    padding: 20px;
    background-color: rgb(247, 247, 232);
    border: 1.5px solid black;
    left: 8%;
    border-radius: 13px;
    text-align: left;
}
.upload {
    display: flex;
    position: absolute;
    width: 70px;
    height: 20px;
    padding: 10px;
    background-color: beige;
    cursor: pointer;
    border-radius: 13px;
}