.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: lightgray;
    padding: 15px 0px;
    align-items: center;
    top: 0;
    
}
.menu-group {
    display: flex;
    align-items: center;
    margin-right: 28px;
}
.menu {
    color: black;
    margin-left: 20px;
    text-decoration: none;
    font-size: 16px;
}

.mainLogo {
    font-weight: 600;
    font-size: 20px;
}

.main{
    font-family: 'Cafe24Ssurround', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    font-weight: 300;  
}